body{
    width: 100%;
    margin: 0;
    background-color: black;
    font-family: "Source Code Pro" , monospace;
}
/*HEADER LAYOUT*/
header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 100px;
    float: left;
}
header nav{
    float: right;
    margin-top: 25px;
}
header nav ul li{
    list-style: none;
    display: inline;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-left: 18px;
    margin-right: 18px;
}
/*HEADER LAYOUT END*/
/*BANNER*/
.banner{
    background-image: url(images/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: blinkmaker 0.5s infinite;
}
.banner h1{
    color: white;
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    border-right: 4px solid;
    white-space: nowrap;
    width: 12ch;
    overflow: hidden;
    animation: animatexto steps(12) 2s, animamarcador 0.5s linear infinite;
}

@keyframes animamarcador{
    50%{
        border-right-color: transparent;
    }
}

@keyframes animatexto{
    0% {
        width: 0;
    }
}

/*BANNER END*/

.quemsou{
    background-color: black;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.title {
    text-align: center;
    color: white;
    font-size: 58px;
    font-family: "Roboto", sans-serif;
    
}

/*INFO EU*/
.eu{
    display: flex;
    align-items: center;
    width: 900px;
    margin-right: auto;
    ;
    border: 1px solid #0DF205;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    
}

.eu p{
    font-size: 18px;
    color: white;
    text-align: left;
    float: right;
    margin: 30px;
}
.eu img{
    width: 350px;
    height: 200px ;
    border-radius: 50%;
    border: 2px solid #0DF205;
    float: left;
    margin-left: 20px;
}
/*INFO HOBBIES*/

.hobbies{
    display: flex;
    align-items: center;
    width: 900px;
    border: 10px;
    
    margin-left: auto;
    border: 1px solid #0DF205;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.hobbies p{
    font-size: 18px;
    color: white;
    text-align: right;
    float: left;
    margin: 30px;
}
.hobbies img{
    width: 350px;
    height: 200px ;
    border-radius: 50%;
    border: 2px solid #0DF205;
    float: right;
    margin-right: 20px;
}
.objetivos{
    display: flex;
    align-items: center;
    width: 900px;
    border: 10px;
    margin-right: auto;
    
    border: 1px solid #0DF205;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.objetivos p{
    font-size: 18px;
    color: white;
    text-align: left;
    float: left;
    margin: 30px;
}
.objetivos img{
    width: 350px;
    height: 200px ;
    border-radius: 50%;
    border: 2px solid #0DF205;
    float: right;
    margin-right: 20px;
}
/*SECTION "HABILIDADES"*/

.habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #0DF205;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-image: url(images/background.jpg);
    background-size: cover;

}

.habilidades img{
    width: 200px;
    height: 210px;
    margin: auto;
}