body{
    width: 100%;
    margin: 0;
    background-color: black;
    font-family: "Source Code Pro" , monospace;
}
/*HEADER LAYOUT*/
header{
    display: flex;
    justify-content: space-between;
}
header img{
    width: 100px;
    float: left;
}
header nav{
    float: right;
    margin-top: 25px;
}
header nav ul li{
    list-style: none;
    display: inline;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-left: 18px;
    margin-right: 18px;
}
/*HEADER LAYOUT END*/
/*BANNER*/
.banner{
    background-image: url(images/banner.jpg);
    background-size: cover;
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: blinkmaker 0.5s infinite;
}
.banner h1{
    color: white;
    font-size: 100px;
    font-family: "Roboto", sans-serif;
    border-right: 4px solid;
    white-space: nowrap;
    width: 12ch;
    overflow: hidden;
    animation: animatexto steps(12) 2s, animamarcador 0.5s linear infinite;
}

@keyframes animamarcador{
    50%{
        border-right-color: transparent;
    }
}

@keyframes animatexto{
    0% {
        width: 0;
    }
}

/*BANNER END*/

.quemsou{
    background-color: black;
    font-family: "Roboto", sans-serif;
}
.quemsou h1{
    text-align: center;
    color: white;
    font-size: 58px;
}
.eu{
    display: flex;
    align-items: center;
    border: 10px;
    margin-right: auto;
    border: 1px solid #055902;
    border-radius: 10px;
    padding: 20px;
}

.eu p{
    font-size: 18px;
    color: white;
    text-align: justify;
    float: right;
}
.eu img{
    width: 350px;
    height: 200px ;
    border-radius: 50%;
    border: 2px solid #0DF205;
    float: left;
    margin-left: 20px;
}
